body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    color: #8F8F8F;
}



/* Containers */
.container-fluid {
    padding: 7% 15%;
}



/* Nav Bar */
.navbar {
    padding: 0 0 72px;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 200;
}



/* Title Section */
#title {
    color: #FFF;
    text-align: left;
    background-color: #FF4C68;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}



/* Features Section */
#features {
    background-color: #FFF;
    position: relative;
}

.feature-box {
    padding: 5%;
}

.feature-title {
    font-size: 1.5rem;
}

.icon {
    color: #EF8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #FF4C68;
}



/* Testimonials Section */
#testimonials {
    color: #FFF;
    background-color: #EF8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}



/* Press Section */
#press {
    background-color: #EF8172;
    padding-bottom: 3%;
}

.pricing-title {
    font-size: 1.5rem;
}

.pricing-text {
    font-size: 3rem;
    line-height: 1.5;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}



/* Pricing Section */
#pricing {
    padding: 100px;
}

.pricing-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}



/* Call to Action Section */
#cta {
    color: #FFF;
    font-weight: 900;
    background-color: #FF4C68;
}

.cta-heading {
    font-size: 3rem;
    line-height: 1.5;
}



/* Footer Section */
.social-icon {
    margin: 20px 10px;
}


/* Media Queries */
@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0deg);
    }
}