body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
}

p {
    color: #8F8F8F;
}

.container-fluid {
    padding: 3% 15%;
}



/* Title Section */
#title {
    color: #FFF;
    background-color: #FF4C68;
}

/* Nav Bar */
.navbar {
    padding: 0 0 72px;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 200;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image-container {
    text-align: center;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
}



/* Features Section */
#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #EF8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #FF4C68;
}



/* Testimonials Section */
#testimonials {
    text-align: center;
    color: #FFF;
    background-color: #EF8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}



/* Press Section */
#press {
    text-align: center;
    background-color: #EF8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}



/* Pricing Section */
#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}