body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-size: 5.62rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}


hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 10px;
    width: 5%;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profile-img {
    height: 150px;
    width: 150px;
}

.pro {
    text-decoration: underline;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.skill-img {
    width: 15%;
    border-radius: 100%;
}

.computer-img {
    float: left;
    margin-right: 30px;
}

.chilli-img {
    float: right;
    margin-left: 30px;

}

.skill-info {
    line-height: 2;
}
